name: Relese

on:
  workflow_dispatch:
    inputs:
      checks:
        description: 'Versionsnummern in module.json und CURRENT-RELEASE.md aktualisiert?'
        required: false
        type: boolean

jobs:
  release:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Check prerequisites
        if: inputs.checks == false
        uses: actions/github-script@v7
        with:
          script: |
            core.setFailed('Kein Release erstellt, bitte Modulversionen und CURRENT-RELEASE.md aktualisieren')
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
    
      - name: Update CHANGELOG and Commit Changes
        run: |
          git config user.email "action@github.com"
          git config user.name "Github Action"
          git checkout -b new-feature-branch  # Name des neuen Branches
          echo -e "$(cat CURRENT-RELEASE.md)\n\n$(cat CHANGELOG.md)" > CHANGELOG.md
          git add CHANGELOG.md
          git commit --allow-empty -m "feat: example commit for PR"
          git push origin new-feature-branch

      - name: Authenticate GitHub CLI
        run: echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token

      - name: Create Pull Request
        id: pr
        run: |
          gh pr create --title "Automated PR" --body "This PR was created automatically" --base main --head new-feature-branch --merge
