name: main

on:
  workflow_dispatch:

jobs:
  clone:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: copy
        run: |
          mkdir pf2
          curl -L -o pf2/archive.tar.gz https://api.github.com/repos/foundryvtt/pf2e/tarball/main
          tar -xf pf2/archive.tar.gz --strip-components=1 --directory pf2
          
      - name: copy
        run: cp -R pf2-system/packs/feats pf2
    
      - name: create-json
        id: create-json
        uses: jsdaniell/create-json@v1.2.2
        with:
          name: "new-json-file.json"
          json: '{"name":"jsdaniell", "password":"mypass"}'
          dir: 'de/de'
          
      - name: Update CHANGELOG and Commit Changes
        run: |
          git config user.email "action@github.com"
          git config user.name "Github Action"
          git add pf2
          git commit -m "test"

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v5
        with:
          title: 'Update Changelog'
          commit-message: 'test'
          branch: test
          body: |
            test
